.container--list {
    .collection {
        margin: 0;
        font-size: 1em;
    }
    .item {
        width: 100%;
        border-top: 2px solid #ffffff;
        background-color: #ececec;
        margin-top: 0;
        padding: $gs-baseline 0;
    }
    .item__link {
        border-top: 0;
        margin-left: 15%;
        @include mq(tablet, desktop) {
            margin-left: 20%;
        }
    }
    .item__title {
        margin-top: 0;
    }
    .item__image-container {
        display: block;
        float: right;
        padding: 0;
        margin: 0;
        margin-right: $gs-gutter;
        width: gs-span(3);
        @include mq(tablet, desktop) {
            width: gs-span(2);
        }
    }
    .responsive-img {
        height: auto;
        position: relative;
        display: block;
    }
    .item__section {
        text-transform: uppercase;
        top: $gs-baseline;
        left: $gs-gutter;
        position: absolute;
        color: $c-newsDefault;
        @include fs-bodyHeading(1);
        font-weight: bold;
    }
    .item__standfirst {
        display: block;
        margin-top: $gs-baseline/2;
        margin-left: 15%;
        @include mq(tablet, desktop) {
            margin-left: 20%;
        }
    }
    .item--has-image {
        .item__title,
        .item__standfirst {
            width: 30%;
        }
    }
    .item__meta {
        position: absolute;
        left: $gs-gutter;
        top: $gs-baseline*3;
    }
    .item__sublinks {
        display: none;
    }
    .item__sublink {
        clear: both;
        margin-top: $gs-baseline;
        padding-top: $gs-baseline;
        border-top: 2px solid #ffffff;
    }
    .item__sublink:nth-child(n+3) {
        display: none !important;
    }
    .item__sublink__title {
        width: 30%;
        float: left;
        margin-left: 15%;
        @include mq(tablet, desktop) {
            margin-left: 20%;
        }
    }
    .item__sublink__standfirst {
        margin-left: 50%;
        margin-right: 10%;
    }

    // high importance
    .item:nth-child(1) {
        .item__title {
            @include fs-headline(4, $size-only: true);
            @include mq(tablet, desktop) {
                @include fs-headline(3, $size-only: true);
            }
        }
        .item__standfirst {
            @include fs-headline(3, $size-only: true);
            @include mq(tablet, desktop) {
                @include fs-headline(2, $size-only: true);
            }
        }
        .item__image-container {
            @include mq(tablet, desktop) {
                width: gs-span(4);
            }
            @include mq(desktop, wide) {
                width: gs-span(6);
            }
            @include mq(wide) {
                width: gs-span(7);
            }
        }
    }
    // sublinks
    .item:nth-child(1),
    .item:nth-child(4) {
        .item__sublinks {
            display: block;
        }
    }
    // no standfirst
    .item:nth-child(3),
    .item:nth-child(5) {
        .item__standfirst {
            display: none;
        }
    }
    // no image
    .item:nth-child(2),
    .item:nth-child(6) {
        .item__image-container {
            display: none;
        }
        .item__title,
        .item__standfirst {
            width: auto;
        }
    }
    // big image
    .item:nth-child(3),
    .item:nth-child(7) {
        .item__image-container {
            width: gs-span(5);
            @include mq(tablet, desktop) {
                width: gs-span(3);
            }
        }
    }
}
